<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.wagesystems.mapper.OrdinaryUserMapper">
<!--List<OrdinaryUser> findAll();-->
    <select id="findAll" resultType="OrdinaryUser"><!--取了一个别名-->
        select * from ordinary_user
    </select>
    <select id="findByUsername" resultType="OrdinaryUser" parameterType="String">
        select * from ordinary_user where username = #{username}
    </select>
    
    <insert id="addUser" parameterType="OrdinaryUser">
        insert into ordinary_user(name, username,password,cardId,gender,birthday,id_card_num,total) values(
        #{name},#{username},#{password},#{cardId},#{gender},
        #{birthday},#{idCardNum},0)

    </insert>

</mapper>